<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{
        (service.selected ? 'AbpUi::Edit' : '::NewTransportationSetSupplierViewTemplate')
          | abpLocalization
      }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="transportation-set-supplier-view-template"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ '::TransportationSetSupplierViewTemplate' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label
                  class="form-label"
                  for="transportation-set-supplier-view-template-supplier-tenant-id"
                >
                  {{ '::SupplierTenantId' | abpLocalization }}
                </label>

                <input
                  id="transportation-set-supplier-view-template-supplier-tenant-id"
                  formControlName="supplierTenantId"
                  class="form-control"
                  autofocus
                />
              </div>

              <div class="mb-3">
                <label
                  class="form-label"
                  for="transportation-set-supplier-view-template-transportation-set-view-template-root-id"
                >
                  {{ '::TransportationSetViewTemplateRootId' | abpLocalization }}
                </label>

                <input
                  id="transportation-set-supplier-view-template-transportation-set-view-template-root-id"
                  formControlName="transportationSetViewTemplateRootId"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label
                  class="form-label"
                  for="transportation-set-supplier-view-template-supplier-id"
                >
                  {{ '::SupplierId' | abpLocalization }}
                </label>

                <input
                  id="transportation-set-supplier-view-template-supplier-id"
                  formControlName="supplierId"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="transportation-set-supplier-view-template-root-id">
                  {{ '::RootId' | abpLocalization }}
                </label>

                <input
                  id="transportation-set-supplier-view-template-root-id"
                  formControlName="rootId"
                  class="form-control"
                />
              </div>

              <div class="mb-3">
                <label
                  class="form-label"
                  for="transportation-set-supplier-view-template-shipping-root-id"
                >
                  {{ '::ShippingRootId' | abpLocalization }}
                </label>

                <input
                  id="transportation-set-supplier-view-template-shipping-root-id"
                  formControlName="shippingRootId"
                  class="form-control"
                />
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button
      iconClass="fa fa-check"
      buttonType="submit"
      formName="transportation-set-supplier-view-template"
    >
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
